.recipes{
  .card{
    margin-bottom: 20px;
  }
  .card-title{
    @include heading-four;

  }
  .card-text{
    @include p-three;
  }
  .circle-img{
    @include circleImg;
  }
}

.project{
  text-align: center;
  .card-title{
    @include heading-four;
  }
  p{
    @include p-three;
  }
  .card-image{
    @include card-image-one;
  }
  .cart-button{
    background-color: $cart-button-one;
    border: none;
    &:hover{
      color: #1d1919;
    }
  }
  :hover { background-color: $card-hover-bg-one }
}
.customer{
  text-align: center;
  .card-title{
    @include heading-four;
  }
  p{
    @include p-three;
  }
  .card{
    margin-bottom: 20px;
    border: 1px solid $border-color-two;
  }
  .card-image{
    @include card-image-one;
  }
}
.portfolio{
   .card{
    margin-bottom: 20px;
    border: 1px solid $border-color-two;
    padding: 2%;
   }
}