//? backgorun colr 
    $top-heading-bd: #1dbf73;
//menu
    $top-bat-bd-after: #fff;
    $top-bat-bd-before: #1dbf73;

    $font-color-menu-white: #fff;
    $font-color-menu-gray: #333;


    $font-color-menu-one: #1dbf73;
    $font-color-menu-two: #000;
    $font-color-menu-three: #fff;


    $font-color-hover-menu: #c0c0cb;




//cart
    $card-hover-bg-one: #fcd1d5;
    $cart-button-one: #1dbf73;

//? button background
    $btn-bg-lime: #ABCB57;
    $btn-bg-black: #000;
    $btn-bg-white: #fff;
    $btn-bg-red: #1dbf73;
//? font color
    $font-color-red: #1dbf73;
    $font-color-white: #fff;
    $font-color-gray: #333;

    $font-color-one: #1dbf73;
    $font-color-two: #000;
    $font-color-three: #ccc;

//hover color
    $font-color-hover-one: #1dbf73;
    $font-bd-hover-red: #262626;
//border
    $border-color-one: #ccc;
    $border-color-two: #1dbf73;
//? padding
    $padding-x-one: 30px 0 30px 0;
    $padding-x-two: 20px 0 20px 0;
    $padding-x-three: 15px 0 15px 0;
    $padding-x-four: 12px 0 12px 0;
    $padding-x-five: 12px 0 12px 0;
    $padding-y: 0 10px 0 10px;
    $padding-xy-tow:  2px;
    $padding-xy-three:  3px;
    $padding-xy-five: 5px;

//maring
    $margin-xy-five: 5px;
//? font awesome
    $font-awesome-icon-size: 12px;
    $font-awesome-icon-color: #ABCB57;
    $font-awesome-icon-weight: 800;
//icon
    $icon-color-one: #dd9a05;
//? artical font size
    $article-font-size: 14px;
//? fonte size
    $font-size-one: 40px;
    $font-size-two: 30px;
    $font-size-three: 25px;
    $font-size-four: 3rem;
    $font-size-five: 16px;
    $font-size-six: 14px;
// fonte weight
    $font-weight-one: 1000;
    $font-weight-two: 800;
    $font-weight-tree: 700;
    $font-weight-fure: 600;
    $font-weight-five: 500;
    $font-weight-six: 400;

//? heading font size
    $hedeint-one: 50px;
    $headint-two: 28px;

//border
    $border-zero: 0;
    $border-one: 1px;

//border color
    $border-color-one: #1dbf73;
//hover
    $hover-background: #E2495E;
    $hover-color: #9290a3;

//text-align
    $center: center;


// video section
    $playButtonColor: #1dbf73;



